.article-card {
    border-radius: 13px;
    background-color: #2e2e2e;
   
}

.create-article-card {
    border-radius: 13px;
    background-color: #2e2e2e;
}

.article-content {
    margin-left: 70px;
    color: white;
    width: 350px;
}

.publish-button {
    color: black;
}
