
.edit-profile-body {
    margin-top: 50px;
}



.edit-profile-card {
    width: 700px;
    height: 450px;
    background-color: #2e2e2e;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 13px;
    z-index: 0;

}


.profile-pic-2 {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    align-content: center;
    margin-left: 8px;
    margin-top: 8px;


    z-index: 2;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    align-content: center;
    margin-left: 8px;
    margin-top: 8px;


    z-index: 2;
}


.profile-pic-orbit-2 {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    background-color: none;
    align-content: center;
    margin-left: 165px;
    border: 2px solid rgb(0, 255, 162);
    margin-top: -20px;
    /* background-image: linear-gradient(-134deg, #0208b0 0%, #32c30a 100%); */


    z-index: 2;
}

.form-control {
    background-color: white;
    border: none;
    margin-bottom: 2.5px;
}

.mission-statement-2 {
    color: black;
    width: 410px;
    height: 184px;
    background-color: rgb(216, 216, 216, 100);
    border-radius: 13px;
    margin-left: 75px;
}

.social-media-2 {
    margin-right: 0px;
    margin-left: 220px;
    margin-top: 20px;
    width: 375px;
}

.file-upload {
    margin-left: 105px;
    margin-top: 40px;
}

.mission-social {
    width: 500px;
    margin-top: 50px;
    
}

.input_style {
    margin-top: 0px;
    margin-left: 5px;
    position: relative;

}