.post .card {
    border: none;
    border-radius: 15px;
    background-color: rgb(30, 30, 30);
}

.post .card-body {
    background-color: rgb(30, 30, 30);
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post .card-img-top {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.post .card-img-top {
    background-color: black;
}

.post p {
    font-size: small;
}